Data
.vscode
progan/__pycache__

progan/Definitions/__pycache__
Data_small

ModelWeights/Dis.pt
ModelWeights/RES.pt
ModelWeights/Gen.pt
55epoch
Landmarks_weights

ModelWeights/img
.mypy_cache
ModelWeights/Parm_weig.tar
*ipynb